*{
    // border:1px solid #000;
    font-family: Roboto, 微軟正黑體, sans-serif;
    box-sizing: border-box;
    font-style: italic;
}
ul{
    list-style: none;
    margin:0;
}
.introduction{
    width:100%;
    height: 960px;
    background: transparent url('../img/photo-1552393700-42696fb89bfa.png') center no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    .h1{
        line-height: 106px;
        font-size: 80px;
        margin-top:-20px;
    }
    .contact-list{
        display: flex;
        justify-content: space-between;
    }
}
.text{  
    display: block;  
    line-height: 42px;
    font-size: 24px;
}
.title{
    font-size: 64px;
    margin-top: 56px;
}
.about{
    display: flex;
    align-items: center;
    padding-bottom: 55px;
    flex-direction: column;
}


.px-13{
    padding:0 13px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-27{
    margin-bottom: 27px;
}
.mb-31{
    margin-bottom: 31px;
}
.mb-63{
    margin-bottom: 63px;
}
.mb-21{
    margin-bottom: 21px;
}
.mb-39{
    margin-bottom: 39px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-40{
    margin-bottom: 40px;
}
.mr-24{
    margin-right: 24px;
}
.mb-23{
    margin-bottom: 23px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-16{
    margin-bottom: 16px;
}
.border{
    width:384px;
    height:1px;
    background-color: #000;
    margin:0;
    border:none;
    margin-bottom: 31px;
}
.text-center{
    text-align: center;
}
.circle{
    position: relative;
    // padding-left:16px;
    &:before{
        content:'';
        width:22px;
        height: 22px;
        position: absolute;
        top:10px;
        left:-38px;
        border-radius: 50%;
        background-color: #891818;
    }
}
.brand{
    background-color: #000;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom:160px;
}
.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 160pxgit ;
    &:after{
        content:'';
        position: absolute;
        bottom: 0;
        height: calc(100% - 361px);
        width: 100%;
        background: url('../img/photo-1561291386-5be50364cfb5.png');
        background-repeat: no-repeat;
        background-position: center;
        z-index:-1;
    }
}
.work-section{
    width:1200px;
    display: flex;
    justify-content: space-between;
    color:white;
    flex-wrap: wrap;
    .card{
        &:nth-child(1) .img,&:nth-child(2) .img,&:nth-child(3) .img{
            width: 384px;
            height: 528px;
        }
        &:nth-child(4) .img,&:nth-child(5) .img{
            width: 588px;
            height: 424px;
        }
        &:nth-child(6) .img,&:nth-child(7) .img,&:nth-child(8) .img{
            width: 384px;
            height: 280px;
        }
        .card-text{
            font-size: 20px;
        }
        .img{
            overflow: hidden;   
            cursor: pointer;
            img{
                transform: scale(1,1);
                transition:  all 1s ease-out;
                overflow: hidden;
                &:hover{
                    transform: scale(1.2,1.2);
                }
            }
        }
    }
}

.footer{
    background-color: #000;
    padding-bottom: 80px;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
}