@charset "UTF-8";
* {
  font-family: Roboto, 微軟正黑體, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: italic;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.img-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.d-inline-block {
  display: inline-block;
}

.text-bold {
  font-weight: bold;
}

.introduction {
  width: 100%;
  height: 960px;
  background: transparent url("../img/photo-1552393700-42696fb89bfa.png") center no-repeat padding-box;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.introduction .h1 {
  line-height: 94px;
  font-size: 80px;
  margin-top: 0px;
}

.introduction .contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text {
  display: block;
  line-height: 42px;
  font-size: 24px;
}

.title {
  font-size: 64px;
  line-height: 75px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 0 56px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.px-13 {
  padding: 0 13px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-27 {
  margin-bottom: 27px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-31 {
  margin-bottom: 31px;
}

.mb-63 {
  margin-bottom: 63px;
}

.mb-21 {
  margin-bottom: 21px;
}

.mb-39 {
  margin-bottom: 39px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mr-24 {
  margin-right: 24px;
}

.mb-24 {
  margin-bottom: 23px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-16 {
  margin-bottom: 16px;
}

.border {
  width: 384px;
  height: 1px;
  background-color: #000;
  margin: 0;
  border: none;
  margin-bottom: 31px;
}

.text-center {
  text-align: center;
}

.circle {
  position: relative;
}

.circle:before {
  content: '';
  width: 22px;
  height: 22px;
  position: absolute;
  top: 10px;
  left: -38px;
  border-radius: 50%;
  background-color: #891818;
}

.brand {
  background-color: #000;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 64px 0 160px 0;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 64px 0 162px 0;
}

.work:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: calc(100% - 361px);
  width: 100%;
  background: url("../img/photo-1561291386-5be50364cfb5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.work-section {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work-section .card:nth-child(1) .img, .work-section .card:nth-child(2) .img, .work-section .card:nth-child(3) .img {
  width: 384px;
  height: 528px;
}

.work-section .card:nth-child(4) .img, .work-section .card:nth-child(5) .img {
  width: 588px;
  height: 424px;
}

.work-section .card:nth-child(6) .img, .work-section .card:nth-child(7) .img, .work-section .card:nth-child(8) .img {
  width: 384px;
  height: 280px;
}

.work-section .card .card-text {
  font-size: 20px;
  line-height: 42px;
  margin: 16px 0 56px 0;
}

.work-section .card .img {
  overflow: hidden;
  cursor: pointer;
}

.work-section .card .img img {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  overflow: hidden;
}

.work-section .card .img img:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.footer {
  background-color: #000;
  color: white;
  padding: 64px 0 80px 0;
}
/*# sourceMappingURL=index.css.map */