<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Week2
        link(rel="stylesheet", href="https://unpkg.com/purecss@1.0.1/build/pure-min.css", integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47", crossorigin="anonymous")
        link(rel="stylesheet", href="../css/index.css")
    body
        section.introduction
            .content
                b.text Here’s
                h1.h1.mb-27 JOANNE
                b.px-13.mb-63.text Founder of ‘’XXXD Official’’ 
                    br
                    | & Graphic Designer
                ul.contact-list.px-13
                    li.item
                        a(href="#")
                            img(src="../img/iconfinder_18_social_2609550.svg", alt="")
                    li.item
                        a(href="#")
                            img(src="../img/iconfinder_1_social_2609541.svg", alt="")
                    li.item  
                        a(href="#")
                            img(src="../img/iconfinder_25_social_2609558.svg", alt="") 
                    li.item
                        a(href="#")
                            img(src="../img/iconfinder_6_social_2609577.svg", alt="")
        section.about  
            h2.mb-39.title About 
            img.mb-21(src="../img/photo-1551852922-003865d4a3ba.png", alt="")
            b.text Joanne Chen
            b.text 1997/10/10
            b.text.text-center.mb-31 National Hex School Normal University
                br 
                | Department of Visual Design  
            hr.border  
            b.text.circle.mb-27 Founder of ‘’XXXD Official’’
            b.text.circle.mb-27 Graphic Designer
            b.text.circle Graphic Intern of Hex School


                    

